@import url('https://fonts.googleapis.com/css?family=Palanquin|Signika+Negative&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

blockquote {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#quote-box {
  width: 450px;
  padding: 40px 45px 30px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 50px 10px #34ace044;
  position: relative;
}

#quote-box:before {
  content: '\201C';
  padding-top: 23px;
  box-sizing: border-box;
  font-family: 'Palanquin', sans-serif;
  font-size: 5em;
  line-height: 50px;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 30px;
  background-color: #34ace0;
}

#text {
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.3em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

#author {
  text-align: right;
}

#author:before {
  content: '\2014';
}

.quote-box__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #34ace088;
}

#new-quote {
  border: none;
  border-radius: 3px;
  background-color: #34ace0;
  padding: 5px 10px;
  color: white;
  font-size: 0.8em;
}
